<!doctype html>
<html lang="en">

<head>
	<title>简·财经 | 免费的A股财报分析工具</title>
	<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAACgYBAAgA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARARARARARABEBEBEBEBEAEQEQEQEQEQARARARARARABEBEBEBEBEAAAEQEQEQEQIAARARARARACAAABEBEBEAAgIAEQEQEQAAICAAARARAAAAAgABEBEAAAAAIAAAEQAAAAACAgARAAAAAAAiAAAAAAAAAiIAAAAAAAAAAAAACSSQAAkkkAAJJJAACSSQAAkkkAAPJJAABySQAAvkkAANZJAADryQAA/ckAAP75AAD/WQAA/58AAP8fAAD//wAA" rel="icon" type="image/x-icon" />
	
	<meta charset="utf-8">
	<meta name="description" content="简单易读的A股财报 - 免费 & 交互式 & 可视化的财报工具">
	<meta name="keywords" content="A股,财报,交互式,可视化,免费,交互式财报,可视化财报,财报工具">
	<meta name="author" content="oqh,yyz,wyf,wgj">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">

</head>

<body>
	<div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar">
			<%- include('sidebar.ejs') %>
		</nav>

		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5 pt-5">
			
			<!-- mobile Navigation Menu -->
			<div class="topnav">
				<a href="#home" class="active logo"><img style="margin-left: -10px" src="/media/logo.png" alt="简 • 财经" width='100' height='25'></a>
				<div id="myLinks">
					<a href="About">关于我们</a>
					<a href="Knowledge">A股术语解释</a>
					<a href="video">视频</a>
					<a href="Contact">联系我们</a>
					<a href="terms">免责声明（Terms/Privacy）</a>
					
				</div>
				<a href="javascript:void(0);" class="icon" onclick="expandBar()">
					<i class="fa fa-bars"></i>
				</a>
				
			</div>
		  	<!-- End mobile navigation menu -->

			<div id='intro-message'>
				欢迎使用本网站，本网站还处在初期建设中，如有缺陷，敬请包涵和谅解。 如对网站有任何建议，请通过邮箱联系我们：<a
					href="mailto: niubigupiao@gmail.com">niubigupiao@gmail.com</a>
			</div>
			<div id='table-of-content'>
				<table id="myTable">
					<tr>
						<th id='tb-col-1' onclick="sortTable(0)" onMouseOver="this.style.cursor='pointer'">
							<div class="responsive">现有财报数据公司 （持续更新中）</div>
						</th>
						<th class="responsive" onclick="sortTable(1)" onMouseOver="this.style.cursor='pointer'">
							<div class="responsive">最近更新财报</div>
						</th>
						
					</tr>
					<% for( let i = 0; i < data.length; i++ ) { %>
                    <tr>
                        <td>
                            <a href="/<%= data[i].PINYIN %>"><%= data[i].SECURITY_NAME_ABBR %> </a>
                            <span> (股市代码: <%= data[i].SECURITY_CODE %>)</span>
                        </td>
                        <td id='tb-date'><%= data[i].REPORT_DATE_NAME %></td>
                    </tr>
                    <% } %>
				</table>
			</div>

			<br><br>
			<div>
				<form name='post-email' method="POST" action="/post-email" class="colorlib-subscribe-form" data-netlify="true">
					<h5>没有找到想看的公司？请留下您的邮箱和感兴趣的公司，更新之后我们会通知您</h5>
					<div class="form-group">
						<label for="exampleInputEmail1">邮箱地址</label>
						<div class="icon"><span class="icon-paper-plane"></span></div>
						<input type="email" class="form-control focusedInput thin-border" name="email" id="email"
							placeholder="请留下您的邮箱" required aria-describedby="emailHelp">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">感兴趣的公司名称</label>
						<div class="icon"><span class="icon-paper-plane"></span></div>
						<input type="text" class="form-control focusedInput thin-border" name="company" id="company"
							placeholder="请留下您想看的公司" required>
					</div>
					<div class="form-group d-flex">

						<input type="submit" value="Submit">
					</div>
				</form>
				<%- include('bottom.ejs') %>
			</div>


		</div>

	</div>

	<script src="../js/alasql.min.js"></script>
	<script src="../js/xlsx.core.min.js"></script>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/popper.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/yyz.js"></script>

</body>

</html>
<script>
	function expandBar() {
		var x = document.getElementById("myLinks");
		if (x.style.display === "block") {
		x.style.display = "none";
		} else {
		x.style.display = "block";
		}
	}
</script>